html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #12cd88;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.jsx-3489082497 {
  background-color: #feb8c7 !important;
  box-shadow: none !important;
}

.toast-message-container{
  top: 0 !important;
}

.title.jsx-3489082497 {
  color: #101010 !important;
}
