.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.footer img {
    margin-left: 0.5rem;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title a {
    /*color: #0070f3;*/
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: #fafafa;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /*max-width: 800px;*/
    margin-top: 3rem;
}

.card {
    width: 100%;
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    /*color: inherit;*/
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    color: #fafafa;
}

.card:hover,
.card:focus,
.card:active {
    /*color: #12cd88;*/
    /*border-color: #12cd88;*/
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
    color: #fafafa;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
}

.searchIcon {
    width: 22px;
    position: absolute;
    left: 12px;
    top: 14px;
}

.inputContainer{
    position: relative;
}

.nomIcon {
    width: 25px;
    margin-right: 15px;
}

.list {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.nominate {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    color: #12cd88;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 100;
    padding: 8px 10px;
    background-color: #fafafa;
    /*background-color: #FEB8C7; */
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    border:  1px solid #12cd88;
    margin-right: 0.5rem;
}

.nominate:hover {
    color: #fafafa;
    background-color: #12cd88;
    border: 1px solid #fafafa;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.activeNominate {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    font-size: 14px;
    font-weight: 100;
    padding: 8px 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    margin-right: 0.5rem;
    color: #fafafa;
    background-color: #12cd88;
    border: 1px solid #fafafa;
}

.activeNominate:focus {
    outline: none;
}

.nominate:focus {
   outline: none;
}


.searchbar {
    padding-left:50px;
    width: 100%;
    height: 50px;
    background: #fafafa;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #12cd88;
}

.searchbar:focus {
    outline: none;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
